# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.DCv2_SD-main.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Downloads\DCv2_SD-main\DCv2_SD-main\.idea\.idea.DCv2_SD-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
